<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Delete a course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'courses/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
</head>
<body>
    <div class="userbox marginauto">
        <table class="table">
            <tr>
                <h1>Are you sure you want to delete this course?</h1>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>{{course.name}}</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>{{course.text}}</td>
            </tr>
        </table>
        <div class="buttons">
            <a href="/courses">
                <button class="btn btn-default" style="margin: 20px">No</button>
            </a>
            <a href="/courses/deletecourse/{{course.id}}">
                <button class="btn btn-default delete" style="margin: 20px">Yes, I want to delete this!</button>
            </a>
        </div>  
    </div>  
</body>
</html>