<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User Edit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
    <div class="userbox">
        <form action="/users/{{user.id}}/update" method="POST" id="myform">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="first_name" value="{{user.first_name}}"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="last_name" value="{{user.last_name}}"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" value="{{user.email}}"></td>
            </tr>
        </table>
        </form> 
        <div class="buttons">
            <button type="submit" form="myform" class="btn btn-default yellowbutton" style="margin: 20px">Save</button>
            <a href="/users/{{user.id}}">
                <button class="btn btn-default" style="margin: 20px">Go Back</button>
            </a>
        </div>
    </div>  
</body>
</html>