<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
    <div id="top" >
                <h1>CodingDojo Wall</h1>
                <a href="/" >
                    <button class="btn btn-default commentbutton" style="margin: 20px">Home</button>
                </a>
                <a href="/users" >
                    <button class="btn btn-default" style="margin: 20px">Users</button>
                  </a>
                  <a href="/books" >
                    <button class="btn btn-default yellowbutton" style="margin: 20px">Books</button>
                </a>
                <div id="userdetail">
                    <h3>Welcome, {{request.session.fname}}!</h3>
                    <a href="/users/{{request.session.id}}">
                        <button type="submit" class="btn btn-default yellowbutton" style="margin: 20px">My Profile</button>
                    </a>
                    <a href="/logout">
                        <button class="btn btn-default" style="margin: 20px">Log Out</button>
                    </a>
                </div>
            </div>
            <div id="topback"></div>
        <div class="userbox">
        <form action="/users/createuser" method="POST" id="myform">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="first_name"></td>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'first_name' in message.tags %}
                        <p>{{ message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="last_name"></td>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'last_name' in message.tags %}
                        <p>{{ message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email"></td>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'email' in message.tags %}
                        <p>{{ message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>Confirm Password: </td>
                <td><input type="text" name="passconfirm"></td>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'password' in message.tags %}
                        <p>{{ message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Admin: </td>
                <td><select name="user_level">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select></td>
            </tr>
         
        </table>
        </form> 
        <div class="buttons">
            <button type="submit" form="myform" class="btn btn-default yellowbutton" style="margin: 20px">Create</button>
            <a href="/users"><button class="btn btn-default" style="margin: 20px">Go Back</button></a>
        </div>
    </div>  
</body>
</html>