<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Books</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
    <div id="top" >
        <h1>CodingDojo Books</h1>
        <a href="/" >
            <button class="btn btn-default commentbutton" style="margin: 20px">Home</button>
        </a>
        <a href="/users" >
            <button class="btn btn-default" style="margin: 20px">Users</button>
        </a>
        <a href="/books" >
            <button class="btn btn-default yellowbutton" style="margin: 20px">Books</button>
        </a>
        <div id="userdetail">
            <h3>Welcome, {{request.session.fname}}!</h3>
            <a href="/users/{{request.session.id}}">
                <button type="submit" class="btn btn-default yellowbutton" style="margin: 20px">My Profile</button>
            </a>
            <a href="/logout">
                <button class="btn btn-default" style="margin: 20px">Log Out</button>
            </a>
        </div>
    </div>
    <div id="topback"></div>
    <div class="userbox" style="margin: unset; margin-left: 10%">
        <table class="table">
            <tr>
                <td>First Name: </td>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>Joined: </td>
                <td>{{user.created_at}}</td>
            </tr>
            <tr>
                <td>Total Reviews: </td>
                <td>{{count}}</td>
            </tr>
            
            <tr>
                <td>
                <a href="/users/{{user.id}}">
                    <button type="submit" class="btn btn-default yellowbutton" style="margin: 20px">{{user.first_name}}' Profile</button>
                </a>
            </td>
            </tr>
            <tr>
                <td><h2>Reviewed Books</h2></td>
            </tr>
            {%for i in reviews%}
            <tr>
                <td><a href="/books/{{i.book.id}}"><p style="margin: unset">{{i.book.title}}</p></a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>